/* ------ Font import ------ */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

/* ------ Phone ------ */

body {
  height: 95vh;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  /* background: url('./assets/Subtractbg.svg') no-repeat center; */
  /* background-size: cover; */
  box-sizing: border-box
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

/* #left {
  width: 25vh;
  position: absolute;
  top: 40%;
}

#right {
  right: 0;
  width: 50vh;
  position: absolute;
  z-index: 1;
} */

li {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.9em;
  cursor: pointer;
}

.header {
  margin-top: -5vh;
  height: 25vh;
  width: 100vw;
  background-color: #2036FF;
  display: grid;
  transform: skewY(-3deg);
  grid-template-columns: 1fr 1fr;
  -webkit-box-shadow: 0px 15px 0px 0px #09115b;
  -moz-box-shadow: 0px 15px 0px 0px #09115b;
  box-shadow: 0px 15px 0px 0px #09115b;
}

.logo {
  display: flex;
  transform: skewY(3deg);
  justify-content: flex-start;
  align-items: center;
  margin: 3vh 0 0 3vw;

}

.nav-buttons ul {
  display: flex;
  transform: skewY(3deg);
  justify-content: flex-end;
  margin: 12vh 3vw 0 0;
}

.nav-buttons ul li {
  -webkit-box-shadow: 15px 0px 0px 0px #09115b;
  -moz-box-shadow: 15px 0px 0px 0px #09115b;
  box-shadow: 15px 0px 0px 0px #09115b;
  list-style-type: none;
  margin: 0 1vw;
  background-color: #E7E7E7;
  border-radius: 30px;
  padding: 1vh 4vw;
}

.shadow {
  -webkit-box-shadow: 15px 10px 0px 0px #989898;
  -moz-box-shadow: 15px 10px 0px 0px #989898;
  box-shadow: 15px 10px 0px 0px #989898;
}

.hero {
  height: 60vh;
  display: grid;
  margin-top: 5vh;
  color: black;
  opacity: 0.7;
  /* grid-template: 1fr 1fr; */
}

.hero h1 {
  padding: 0 5vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2em;
  text-align: center
}

.title {
  max-height: 50vh;
  display: flex;
  align-items: center;
}

.hero .pc {
  margin: auto;
  width: 50%;
}

.arrow {
  cursor: pointer;
  width: 100vw;
  height: 10vh;
  margin: auto;
  margin-top: 5vh !important;
  animation: bounce 0.5s infinite alternate
}

.skills {
  display: grid;
  /* grid-template: 1fr 1fr; */
  grid-gap: 5vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #5E5E5E
}

.skill {
  background-color: #E7E7E7;
  -webkit-box-shadow: 0px 10px 0px 0px #989898;
  -moz-box-shadow: 0px 10px 0px 0px #989898;
  box-shadow: 0px 10px 0px 0px #989898;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5vw;
}

.skill p {
  margin-bottom: 3vh;
  font-weight: 600;
  font-size: 2.1em;
}

.skill li {
  font-size: 1.7em;
  font-weight: 500;
  list-style-type: none;
  line-height: 1.4;
}

.icon {
  transform: translateY(0.7vh)
}

.underline {
  border-bottom: 10px solid #C4C4C4;
  border-radius: 30px;
  width: 150px;
  margin: auto;
}

.title-boxes {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2.7em;
  color: #5E5E5E;
  text-align: center;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.works {}

/* ------ Media Query ------ */

@media only screen and (min-width:650px) {
  .hero {
    grid-template-columns: 1fr 1fr;
  }

  .hero .pc {
    width: 60%;
  }

  .title {
    margin: 5vw;
    border-radius: 30px;
    background-color: #E7E7E7;
    -webkit-box-shadow: 15px 10px 0px 0px #989898;
    -moz-box-shadow: 15px 10px 0px 0px #989898;
    box-shadow: 15px 10px 0px 0px #989898;
    display: flex;
    align-items: center;
  }

  .title h1 {
    align-self: center;
    font-size: 2.5em
  }

  .arrow {
    left: 50%;
    transform: translateX(0)
  }

  .skills {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
  }

  .skill {
    margin: 0 5vw 0 5vw;
    border-radius: 30px;
    -webkit-box-shadow: 15px 10px 0px 0px #989898;
    -moz-box-shadow: 15px 10px 0px 0px #989898;
    box-shadow: 15px 10px 0px 0px #989898;
  }

  .title-boxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10vw;
  }

  .underline {
    margin: 0;
    transform: translateX(-1vw)
  }
}

/* ------ Keyframes ------ */

@keyframes bounce {
  from {
    transform: translateY(0)
  }

  to {
    transform: translateY(-20%) scale(0.8)
  }
}